.leftBar {
    max-width: 350px;
    background-color: #fff;
    width: 100%;
    height: 100vh;
}

.topBar {
    max-height: 10%;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;



}

.MuiSpeedDialAction-staticTooltipLabel{
    text-align: center;
    width: 100px;
}