.message {
    display: flex;
    gap: 20px;
    margin: 10px;
}

.messageOwner{
    display: flex;
    gap: 20px;
    margin: 10px;
    flex-direction: row-reverse;
}
.messageUser {
    display: flex;
    gap: 20px;
    margin: 10px;
}


.messageInfo {
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;
}

.messageContent {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.messageContent p {
    overflow-wrap: break-word;
    background-color: white;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 10px;
}

.messageOwner p {
    overflow-wrap: break-word;
    background-color: #0584FE;
    color:#fff;
    padding: 10px 20px;
    border-radius: 10px 0px 10px 10px;
}

.messageUser p{
    background-color: rgba(0,0,0,0.06);
}